.project-inner {
  padding-top: 158px;
  padding-bottom: 160px;
}
.project-title {
  color: #12100C;
text-align: center;
font-family: Roboto;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: 63.72px; /* 118% */
}
.project-text {
  color: #999795;
text-align: center;
font-family: Roboto;
font-size: 54px;
font-style: normal;
font-weight: 400;
line-height: 63.72px; /* 118% */
text-decoration-line: line-through;
}
.project-box {
  margin-top: 339px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-left {
  max-width: 646px;
}
.project-mini-title {
  color: #12100C;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 125% */
margin-bottom: 8px;
}
.project-box-text {
  color: rgba(18, 16, 12, 0.70);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 31.92px; /* 133% */
margin-bottom: 151px;
}
.project-bottom {
  display: flex;
  align-items: center;
}
.project-btn {
  color: #12100C;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 114.286% */
padding: 7px 18px;
border-radius: 10.5px;
background: #FFAE33;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
border: none;
}
.project-btn:nth-child(2) {
  border-radius: 10.5px;
background: #FFB0AE;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
margin-left: 16px;
}